
img{
    width: 95vw;
}
.shadow {
    width: 10px;
    position: absolute;
    z-index: -1;
}
.car{
    position: absolute;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
.staticcar {
    position: absolute;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
.print {
    position: absolute;
    z-index: -1;
}
.head {
    position: absolute;
    z-index: -1;
}
.wheel{
    position: absolute;
    z-index: 0;
}
.first{
    display: none;
}
.second{
    display: none;
}
.third{
    display: none;
}
.closed{
    display: none;
}
.open{
    display: none;
}
.print{
    display: none;
}
.inactive{
    display: none;
}
.active{
    display: block;
}



