img{
    width: 95vw;
}
.shadow {
    width: 10px;
    position: absolute;
    z-index: 0;
}
.car {
    position: absolute;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
.print {
    position: absolute;
    z-index: -1;
}
.head {
    position: absolute;
    z-index: -1;
}
.closed{
    display: none;
}
.open{
    display: none;
}
.print{
    display: none;
}
.active{
    display: block;
}


