.frontwheel{
    overflow: hidden;
    animation-duration: 3s;
    animation-name: front;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 32.1% 79.5%;
}
@keyframes front {
    100%{
        transform: rotate(-360deg);
    }
}
.backwheel{
    overflow: hidden;
    animation-duration: 3s;
    animation-name: back;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 80.5% 80%;
}
@keyframes back {
    100%{
        transform: rotate(-360deg);
    }
}